In [296]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [297]:
df = pd.read_excel('../data/raw/bio-data.xlsx')

In [298]:
df.head(5)

      Name                                                Bio
0     Alex  Hi there! I'm Alex, a software engineer by day...
1    Emily  Hey, I'm Emily, a literature enthusiast with a...
2    James  Greetings! I'm James, a coffee connoisseur and...
3    Sarah  Hello, everyone! I'm Sarah, a biologist fascin...
4  Michael  Hi, I'm Michael, a fitness enthusiast and cert...

In [299]:
vectorizer = TfidfVectorizer()

In [300]:
tfidf_matrix = vectorizer.fit_transform(df["Bio"])
cosine = cosine_similarity(tfidf_matrix)

In [301]:
new_cosine = []

for i,v in enumerate(cosine):
    v[i] = -float('inf')
    new_cosine.append(v)

matches = [(list(tmp).index(max(tmp)), max(tmp)) for tmp in new_cosine]

In [302]:
final_matches = [f" User {df.iloc[i]['Name']} matches with user {df.iloc[matches[i][0]]['Name']} with {matches[i][1]}"for i, j in enumerate(matches)]

In [303]:
new_df = pd.DataFrame(final_matches, columns=["Final Matched Result"])

In [305]:
new_df.to_excel('../data/processed/final-bio-data.xlsx')